{
  "printWidth": 80,
  "arrowParens": "avoid",
  "bracketSpacing": true,
  "endOfLine": "lf",
  "useTabs": false,
  "tabWidth": 2,
  "filepath": "src",
  "singleQuote": true,
  "trailingComma": "all",
  "jsxBracketSameLine": false,
  "jsxSingleQuote": false,
  "parser": "babel",
  "noSemi": true,
  "rcVerbose": true
}